* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  display: flex;
  margin: 50px auto;
  width: 960px;
}

.BOX {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
}

.BOX:nth-child(2) {
  margin: 0 30px;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

.text {
  margin: 15px 0 5px 0;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 90%;
    display: block;
    justify-content: center;
  }

  .BOX {
    width: 100%;
  }

  .BOX:nth-child(2) {
    margin: 20px 0;
  }

  footer {
    width: 100%;
  }
}
